{% extends 'sysadmin/layout.html.twig' %}



{% block content %}


	<table>
		<tr>
			<th>ID</th>
			<th>Type</th>
			<th>Title</th>
		</tr>
		{% for site in sites %}
			<tr>
				<td><a href="/siteadmin/index.php?siteid={{ site.id }}">{{ site.id }}</a></td>
				<td>{{ site.type }}</td>
				<td><a href="/siteadmin/index.php?siteid={{ site.id }}">{{ site.title }}</a></td>
			</tr>
		{% endfor %}
	</table>


{% endblock %}

